*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(imagem/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: Trebuchet MS", Helvetica, sans-serif;
}

/*
**** Layout ****
*/
#area-cabecalho {
	background-color: #f70073;
	padding: 15px;
	text-align: center;
}

#area-logo, #area-menu {
	padding: 10px;
}

.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

#rodape {
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
}

/*
**** Layout ****
*/
#area-cabecalho {
	background-color: #f70073;
	padding: 15px;
	text-align: center;
}

#area-logo, #area-menu {
	padding: 10px;
}

.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

#rodape {
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
}

/*
**** Formatação do menu ****
*/
a {
	text-decoration: none;	
}

a:link, a:visited {
	color: #f7b600;
}

a:hover {
	text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}

#area-cabecalho a:hover {
	color: #f7b600;
	background: #FFF;
	text-decoration: none;
}
/*
**** Formatações em geral ****
*/
#section h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

.branco{
	color: white;
}

.menu-bar{
    background:rgb(255, 131, 114);
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.active,.menu-bar ul li:hover{
    background: salmon;
    border-radius: 3px;
}

.menu-bar .fa{
    margin-right: 8px;
}

.sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(255, 131, 114);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color:sienna;

}

.sub-menu-2{
    display: none;
}

.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color: rgba(255, 131, 114);
}

/* ......................................*/

img{
    width: 100%;
}

.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("imagem/1.jpg") no-repeat center center/cover;
}

.showcase::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 120px 100px 250px #000000 , inset -120px -100px 250px #000000;
}

.showcase-top{
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img{
    width: 140px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(40% , -50%);
}

.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-60% , -50%);
}

.showcase-content{
    position: relative;
    margin: 0 26%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 9rem;
}

.showcase-content h1{
    font-weight: 700;
    font-size: 64px;
    margin: 0 30px;
    max-width: 800px;
    line-height: 74.5px;
}

.showcase-content h3{
    color: white;
    font-size: 25px;
    margin: 16px 0;
}

.showcase-content p{
    font-size: 19.2px;
    font-weight: 300;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.showcase-content input{
    position: absolute;
    left: 0;
    bottom: -8vh;
    width: 454px;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.showcase-content .btn-lg{
    position: absolute;
    right: 0;
    bottom: -8vh;
    padding: 0.5rem 1.2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    height: 36px;
    width: 14rem;
}

.card-0 , 
.card-1,
.card-2,
.card-3{
    border-top: 8px rgb(69, 69, 69) solid;
    padding: 50px;
}

.card-0{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-0{
    padding-left: 100px;
}

.card-1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-1{
    padding-left: 80px;
}

.style-cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}

.style-cards h3{
    font-size: 1.6rem;
    line-height: 2rem;
}

.card-1 video{
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.card-1 img{
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-2{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-2{
    padding-left: 100px;
}

.card-3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-3{
    padding-left: 80px;
    padding-right: 20px;
}

.card-3 img{
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-3 video{
    position: relative;
    top: -87px;
    left: 125px;
    width: 65%;
    height: 78%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

/*---------------Depoimento--------------*/

.depoimento{
    padding-top: 100px;
}

.depoimento .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.depoimento .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.depoimento .col-3:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.depoimento .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(85, 85, 85);
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 p{
    color: #555;
    font-weight: normal;
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.depoimento .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*---------------Carrossel de Imagens-------------*/
.hero{
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
}

.hero .carrousel{
    width: 300px;
    margin: 100px auto 0;
    overflow: visible;
}

.carousel img{
    -webkit-box-reflect:below 20px 
    linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3));
}


/*---------------Footer--------------*/

.footer{
    margin-top: 50px;
    background: #000;
    color: #fff;
}

.footer h1{
    font-size: 12px;
    margin: 25px 0;
}

.footer p{
    font-size: 12px;
}

.copyrigth{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}

.fa-heart-o{
    color: red;
    font-size: 15px;
}

.footer hr{
    margin-top: 10px;
    background-color: #ccc;

}

.footer img{
    width: 150px;    
}

.footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}
